sys - модуль обеспечивает доступ к некоторым переменным и функциям,
      взаимодействующим с интерпретатором python
sqlite3 -  библиотека C, предоставляющая облегченную дисковую базу данных,
      не требующую отдельного серверного процесса и позволяющую получать 
      доступ к базе данных с использованием нестандартного варианта 
      языка запросов SQL.
